############################################################
#                  LAB ENVIRONMENT CONFIG                  #
############################################################

HOST_IP=${HOST_IP}
LAB_PATH=${LAB_PATH}
LAB_DOMAIN=${LAB_DOMAIN}
LAB_NET_BASE=${LAB_NET_BASE}

DOCKER_NETWORK_NAME=${DOCKER_NETWORK_NAME}
DOCKER_BRIDGE_NAME=${DOCKER_BRIDGE_NAME}
DOCKER_SUBNET=${DOCKER_SUBNET}
DOCKER_GATEWAY=${DOCKER_GATEWAY}

K8S_MASTER_IP=${K8S_MASTER_IP}
K8S_WORKER1_IP=${K8S_WORKER1_IP}
K8S_WORKER2_IP=${K8S_WORKER2_IP}
K8S_WORKER3_IP=${K8S_WORKER3_IP}

K8S_MASTER_HOST=${K8S_MASTER_HOST}
K8S_WORKER1_HOST=${K8S_WORKER1_HOST}
K8S_WORKER2_HOST=${K8S_WORKER2_HOST}
K8S_WORKER3_HOST=${K8S_WORKER3_HOST}
